.add-task-dialog {
    margin: auto;
}

.add-task-box {
    display: flex;
    flex-direction: column; 
    padding: 1em 3em;
    max-width: 30em;
}

.add-task-banner {
    margin: 1em auto 0;
    display: flex;
    align-items: center;
}

.add-task-inputs {
    margin: 1em auto 0;
    width: 24em;
}

.task-date-time-picker {
    display: grid;
    grid-template-columns: 66% 34%;
    grid-column-gap: 0.3em;
}

.date-picker {
    grid-column: 1;
}

.add-task-button {
    display: flex;
    justify-content: flex-end; 
    margin: 0.5em auto 0;
    gap: 2em;
}